{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post" action="{% url 'Accounts:signin' %}">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    {% endif %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" name="username" id="username" required>
                        <label for="username">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" required>
                        <label for="password">Password</label>
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Didn't create an account yet? <a href="/signup/">Register</a></p>
                    </div>                   
                    <p style="color: red;">{{fmessage}}</p>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    
</body>
</html>
